//
// Override global variables
//

// Theme colors
$primary:       									#008751;
$primary-hover:                                     #10a869;
$primary-light:    									#E1F0FF;
$primary-inverse:  									#FFFFFF;
